<!-- <Header> -->
<%- include('../partials/_head') %>
    <!-- </Header> -->

    <!-- <Main Site> -->
    <main id="main-site">
        <div class="p-4 m-10">
            <a href="/" class="text-slate-700 rounded-md p-2 hover:text-slate-400 space-x-1 ">
                <i class="fa-solid fa-backward"></i>
                <span>All User</span>
            </a>
        </div>
        <div class="flex justify-center items-center w-full">
            <div class="w-1/2 bg-white rounded shadow-2xl p-8 m-4">
                <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6">Update User</h1>
                <form method="put" id="update-but" >
                    <%- include('../partials/_form') %>
                </form>
            </div>
        </div>
    </main>
    <!-- </Main Site> -->

    <!-- <Footer> -->
    <%- include('../partials/_footer') %>
        <!-- </Footer> -->